<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xw.vvtts"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="36" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Eloquence TTS"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.Vvtts">

        <service
            android:name=".services.VvTtsService"
            android:label="Eloquence TTS"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.speech.tts" android:resource="@xml/tts_engine" />
        </service>

        <activity android:name=".ui.SettingsActivity" android:label="Eloquence TTS" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.CheckVoiceData" android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.VoiceProfileActivity"
            android:label="@string/voice_profile"
            android:exported="false"
            android:theme="@style/Theme.Vvtts" />

        <activity android:name=".ui.GetSampleText" android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
